set timeout=0
set default=0

menuentry "Ollios" {
    multiboot /boot/ollios.bin
    module /boot/ollios.sym
    module /boot/keyboard.so keyboard.so
    module /boot/sysint.so sysint.so
    module /boot/pci.so pci.so
    module /boot/ata.so ata.so
    module /boot/iso9660.so iso9660.so
    module /boot/mbr.so mbr.so
    #module /boot/init.so /root/usr/bin/shell
    module /boot/kernelshell.so kernelshell.so
    boot
}
